.App {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
}
.navbar {
	background-color: rgba(0, 0, 0, 0.8);
	left: calc(-50vw + 50%);
	right: calc(-50vw + 50%);
	margin-left: auto;
	margin-right: auto;
	z-index: 99999;
}
.home-banner {
	height: 400px;
	padding-top: 52px;
	background: url('/img/banner-bg.svg') no-repeat;
	background-position: right;
	background-size: contain;
}
.home-banner h1 {
	font-size: 65px;
}
